@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: anybody;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #000;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #010101;
  font-size: 51px;
  font-family: anybody;
  font-weight: 700;
  line-height: 46px;
}


h2 {
  color: white;
  font-size: 40px;
  font-family: anybody;
  font-weight: 700;
  line-height: 54px;
}

h3 {
  font-size: 24px;
  font-family: Raleway;
  font-weight: 700;
}

label {
  font-size: 14px;
  font-family: anybody;
  font-weight: 400;
  line-height: 24px;
}

.card {
  padding: 2em;
}

span {
  font-size: 10px;
  font-family: anybody;
  font-weight: 400;
  line-height: 16px;
}

.tag {
  border-radius: 4px;
  border: 1px solid black;
  background: white;
  box-shadow: -2px 2px 0px 0px black;
  font-size: 10px;
  font-family: raleway;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}